body{
font-family: "Poppins", Arial, sans-serif;
font-size: 15px;
line-height: 1.8;
font-weight: 300;
color: gray;
}

/***********************************/
/*          Navigation bar         */
/***********************************/
.my-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
}
.my-nav .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  transition:2s;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 1.2em;
  font-weight: 300;
  color: #d4d7e2;
  padding-left: 2em;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
  color: #fac564 !important;
}
.w-100{
    filter: brightness(50%);
    width:100%;
}
.carousel-item{
  transition-duration:0.2s;
}
