body{
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  background: url(../img/bg.jpg) no-repeat fixed;
  background-size: auto;
  background-size: cover;
}
 h1, h2, h3 ,h4, h5{
   font-family:"Josefin Sans", Arial, sans-serif;
   color: #fac564;
 }
footer{
  background: url(../img/footer.jpg)  center no-repeat;
  background-size: cover;
  filter: brightness(100%);
}

/* Preloder */

 #preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 40%;
	left: 46%;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

/* .loader {
  position: relative;
  margin: 50px auto;
  width: 100px;
  height: 80px;
} */

.gear {
  position: absolute;
  z-index: -10;
  width: 40px;
  height: 40px;
  animation: spin 5s infinite;
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  50% {
    transform: rotate(-360deg);
  }
}

.lil-circle {
  position: absolute;
  border-radius: 50%;
  /* box-shadow: inset 0 0 10px 2px gray, 0 0 50px black; */
  width: 100px;
  height: 100px;
  opacity: 0.65;
}

.blur-circle {
  position: absolute;
  top: -19px;
  left: -19px;
}

/***********************************/
/*         All Animations          */
/***********************************/

.fadeup {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.fadeup.active {
  transform: translateY(0);
  opacity: 1;
}

.zoomin {
  position: relative;
  transform: scale(50%);
  opacity: 0;
  transition: 2s all ease;
}
.zoomin.active {
  transform: scale(100%);
  opacity: 1;
}
.rotate {
  position: relative;
  transform: rotateZ(30deg);
  opacity: 0;
  transition: 3s all ease;
}
.rotate.active {
  transform: rotateZ(0deg);
  opacity: 1;
}

/***********************************/
/*          Navigation bar         */
/***********************************/
.my-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-bottom: 0px;
}
.my-nav .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  transition:2s;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 1.2em;
  font-weight: 300;
  color: #d4d7e2;
  padding-left: 2em;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#fac564;
}
.navbar-toggler-icon{
  padding-bottom:2.5em;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
  color: #fac564;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.navbar-collapse{
  padding-bottom:8px;
}
.navbar-toggler{
    width: 55px;
    height: 34px;
    background-color: none;
    border:none;
    margin-left: 1em;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 8px;
}
/***********************************/
/*             Carousel            */
/***********************************/
.w-100{
    filter: brightness(50%);
    width:100%;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 3em; /* change width */
    height: 0.3em; /* change height */
    padding: 2px;
    margin-right: 0.2em;
    margin-left: 0.8em;
    text-indent: -999px;
    cursor: pointer;
    background-color: lightgrey;
    background-clip: padding-box;
    /*border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
    border: 2px solid #fac546;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 10%;// /* add border-radius */
}
.carousel-indicators button.active{
    background-color: #fac564;
}
.subheading {
    font-family: "Nothing You Could Do", cursive;
    font-size: 1.8em;
    color: #fac564;
}
.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #fff;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px;
}
.carousel-caption p{
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 300;
    color: #b2b2b2;
    font-family: 'Rock Salt', cursive;

}
.carousel-poesia{
    margin-left:20em;
    margin-bottom:3em;
}
.carousel-prosa{
    margin-right:20em;
    margin-bottom:3em;
}
.carousel-cuento{
    margin-left:20em;
    margin-bottom:3em;
}

.carousel-item {
    transition: transform 4s ease-in-out;
  }
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 4s;
  }

/**************************************************/
/*        Heading Sections on Index page          */
/**************************************************/

.heading-section h2 {
    color:white;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    margin-top:3em;
}
.heading-section p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.hr-section{
  display: flex;
}
.hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #8d5d05;;
}
.hr-icon {
    position: relative;
    top: 3px;
    color: #eec170;;
}
.bottom-icon{
  transform: rotate(180deg);
}
.section{
  margin-top: 4em;
}

/**** hover effect on Section Images ****/

.section-poesia img{
  transition: transform 400ms, filter 400ms;
  filter: sepia(100%);
}
.section-poesia img:hover{
  transform:scale(1.05);
  filter: sepia(0%);
}
.card-title{
  margin-top: 1.2em;
  font-family: "Josefin Sans", Arial, sans-serif;
}
.card-title a{
  text-decoration: none;
  color: #fac564;
  transition: 400ms;

}
.card-title a:hover{
  color:#f8a91a;
  font-size: 105%
}
.section-poesia .card{
  background-color: transparent;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
}
.section-poesia .card-title{
  color:#fac564;
}
.section-poesia img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.section-prosa{
  margin-bottom: 6em;
}
.section-prosa .card{
  background-color: transparent;
}
.section-prosa img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}
.section-prosa .card-img-overlay{
  top: 6em;
}
.section-prosa .card-title{
  text-decoration: none;
  color: #fac564;
  transition: 400ms
}
.section-prosa .card-text{
  text-decoration: none;
  color: lightgrey;
  transition: 400ms
}
.section-prosa a{
  transition: transform 1000ms, filter 1000ms;
  filter:grayscale(60%) brightness(50%);
}
.section-prosa a:hover{
  transform:scale(1.05);
  filter:grayscale(0%) brightness(100%);
}
.section-cuento{
  margin-bottom:6em;
}
 .section-cuento .card{
  border-left-width: 0;
  border-right-width: 0;
  background-color: rgba(0,0,0,0.5);
  margin-left: 3em;
  margin-right: 3em;
}
.section-cuento img{
  transition: transform 1000ms, filter 1000ms;
  filter:grayscale(60%) brightness(50%);
}
.section-cuento img:hover{
  transform:scale(0.95);
  filter:grayscale(0%) brightness(100%);
}
/*************************************/
/*        Category Pages             */
/*************************************/
.head-category {
  position: relative;
}
.head-category .poesia{
  position: absolute;
}
.main{
  margin-top: 3em;
  margin-bottom:3em;
}
.card-img-top{
  border-radius: 0;
}
.cat-poesia-small .card-title{
  margin-top:0;
}
.main span > a{
  text-decoration: none;
  color: #fac564;
  transition: 400ms;
  display: inline-block;
}
.main span > a:hover{
  color:#f8a91a;
  font-size: 105%
}
.cat-poesia-small{
  margin-bottom: 2em;
  margin-left:3em;
}

/************************************/
/*    Acerca de and inner pages     */
/************************************/
.entry{
  color:lightgrey;
  font-size: 1.1em;
  /* background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em; */
}
.entry h1{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}
.entry p{
  padding-bottom: 3em;
  padding-left: 1em;
}
/************************************/
/*              Footer              */
/************************************/
footer h2{
  color:white;
  font-family: 'Rock Salt', cursive;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer i{
  font-size: 2em;
  color: white;
}
footer i:hover{
  color:orange;
  font-size: 2.1em;
}
footer p{
  margin-bottom: 0;
  margin-top: 2em;
}
.info-developer{
    color:white;
}
.info-developer a{
  color: #ffc04d;
  text-decoration: none;
}
.info-developer a:hover{
  color:#ffd994;
}
/************************************/
/*        For Medium Devices        */
/************************************/
@media (max-width: 991px) {
 #navbarNavAltMarkup{
	 margin-top: 0.5em;
	 /*background-color:#102e50;*/
	 background-color: rgba(0,0,0,0.8);
	 padding-right: 0px;
   padding-bottom:0px;
 }
 #navbarNavAltMarkup >li:hover{
	 background-color: #1a4a81;
	 border-bottom: none;
 }
.my-nav{
/*  padding-bottom:0px; */
}
/* .navbar-nav > li > a {
 	color: yellow;
 } */
.nav-link a:hover{
 border-bottom: hidden
}
.card {
  padding-left: 0em;
  padding-right: 0em;
}
.section-poesia img{
  width: 150px;
  height: 150px;
}
.section-prosa .card{
  margin-top: 2em;
}
.section-cuento .card{
 margin-left: 1em;
 margin-right: 1em;
 margin-bottom: 2em;
}
.cat-poesia-small{
  margin-top:4em;
  margin-left:0;
}
}
/************************************/
/*        For Small Devices         */
/************************************/
@media (max-width: 767px){
  .subheading {
      font-size: 1.5em;
  }
  .carousel-caption{
    right:0%;
  }
  .carousel-caption h1 {
      font-size: 2em;
  }
  .carousel-caption p{
      font-size: 1em;
  }
  .carousel-poesia{
      margin-left:10em;
      margin-bottom: 0em;
  }
  .carousel-prosa{
      margin-right:10em;
      margin-bottom:0em;
  }
  .carousel-cuento{
      margin-left:10em;
      margin-bottom:0;
  }
  .carousel-indicators [data-bs-target] {
      width: 0.3em; /* change width */
      height: 0.1em; /* change height */
      padding: 2px;
      margin-right: 0.8em;
      margin-left: 0.8em;
      border: 2px solid #fac546;
      opacity: .5;
      transition: opacity .6s ease;
      border-radius: 20%;// /* add border-radius */
  }
 .head-category .poesia{
   right:10%;
   top:10%;
 }
}

/************************************/
/*      For Extra Small Devices     */
/************************************/
@media (max-width: 576px){
  .subheading {
      font-size: 1em;
  }
  .carousel-caption h1 {
      font-size: 1.5em;
  }
  .carousel-caption p{
      font-size: 0.8em;
  }
   .carousel-poesia{
      margin-left:5em;
      margin-bottom: -1em;
  }
  .carousel-prosa{
      margin-right:5em;
      margin-bottom:-1em;
  }
  .carousel-cuento{
      margin-left:5em;
      margin-bottom:-1em;
  }
  .cat-poesia-small img{
    max-width: 200px;
  }
  .head-category .poesia{
    right:10%;
    top: 15%;
  }
  .head-category h1{
    margin-bottom: 0;
  }
  .head-category .acerca-head{
    top: 45%;
  }
}
