body{
font-family: "Poppins", Arial, sans-serif;
font-size: 15px;
line-height: 1.8;
font-weight: 300;
color: gray;
}

/***********************************/
/*          Navigation bar         */
/***********************************/
.my-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-bottom: 0px;
}
.my-nav .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  transition:2s;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 1.2em;
  font-weight: 300;
  color: #d4d7e2;
  padding-left: 2em;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#fac564;
}
.navbar-toggler-icon{
  padding-bottom:2.5em;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
  color: #fac564;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.navbar-collapse{
  padding-bottom:8px;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: none;
    border:none;
    margin-left: 1em;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin-left: 1em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  /*top: 0px;*/
  top:2px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  /*top: 36px;*/
  top:34px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/***********************************/
/*             Carousel            */
/***********************************/
.w-100{
    filter: brightness(50%);
    width:100%;
}
.carousel-item{
  transition-duration:0.2s;
}
/***********************************/
/*        For Small Devices        */
/***********************************/
@media (max-width: 991px) {
 #navbarNavAltMarkup{
	 margin-top: 0.5em;
	 /*background-color:#102e50;*/
	 background-color: rgba(0,0,0,0.8);
	 padding-right: 0px;
   padding-bottom:0px;
 }
 #navbarNavAltMarkup >li:hover{
	 background-color: #1a4a81;
	 border-bottom: none;
 }
.my-nav{
/*  padding-bottom:0px; */
}
/* .navbar-nav > li > a {
 	color: yellow;
 } */
.nav-link a:hover{
 border-bottom: hidden
}
}
